# Ignore Emacs Backup Files
*#*#
*.#*
*~

# Ignore node modules (do an npm install)
node_modules

# Ignore generated documentation, coverage, js files, executables, etc
coverage
docs
dist
exe
.nyc_output
